<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 配置关闭缓存 -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 配置驼峰式命令 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Mybatis 配置文件 useGeneratedKeys 参数只针对 insert 语句生效，默认为 false。
        当设置为 true 时，表示如果插入的表以自增列为主键，则允许 JDBC 支持自动生成主键，
        并可将自动生成的主键返回。-->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 配置和设定执行器，SIMPLE 执行器执行其它语句。
        REUSE 执行器可能重复使用prepared statements 语句，
        BATCH执行器可以重复执行语句和批量更新。-->
        <setting name="defaultExecutorType" value="REUSE"/>
        <!--事务超时时间，设置一个时限，以决定让驱动器
        等待数据库回应的多长时间为超时-->
        <setting name="defaultStatementTimeout" value="600" />
    </settings>

    <typeAliases>
        <!-- 再mybatis映射文件中起别名进行配置 -->
        <typeAlias type="com.imooc.house.model.User" alias="user"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/user.xml" />
    </mappers>
</configuration>